$bg-color: #FFF8E1;
$text-color: darken(#b71c1c, 12%);

body {
  background-color: $bg-color;
  color: $text-color;
}

.mod-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.login-girl {
  width: 200px;
}

.pure-alert {
  border: 1px solid $text-color;
  background-color: #ffcdd2;
  color: $text-color;
}

.home-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-boards {
  padding-top: 0;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #ef9a9a;
  }
  min-width: 60%;
  max-width: 100%;
  border: 1px solid $text-color;
  ul {
    margin-top: 0;
    font-size: small;
    column-count: 4;
    padding-left: 7px;
    li {
      list-style: none;
      line-height: 1.5;
    }
  }
}

.red-link {
  color: $text-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: #f44336;
  }
}

.board-container {
  flex-direction: column;
  display: flex;
}

.board-title {
  a {
    color: inherit;
    text-decoration: none;
  }
}

.threads {
  padding: 0 25px;
  hr {
    margin: 0 -20px;
  }
}

.thread-preview {
  padding-top: 8px;
  display: block;
  overflow: auto;
}

.thread-title {
  display: inline;
}

.thread-time {
  font-size: small;
}

.thread-text {
  padding: 0 10px;
}

.post-pic {
  margin-right: 10px;
  float: left;
  display: inline-block;
  vertical-align: top;
  p {
    margin: 0;
    font-size: small;
  }
}

.post-pic-thumb {
  width: 200px;
}

.post-pic-thumb-full {
  width: 100%;
  float: left;
  clear: both;
}

.post-pics {
  overflow: auto;
  float: left;
  display: inline-block;
}

.file-size {
  color: gray;
}

.reply {
  display: inline-block;
  background-color: #FFCCBC;
  border: 1px solid #FFAB91;
  margin-bottom: 5px;
  padding: 5px;
}

.reply-header {
  margin: 2px;
}

.reply-text {
  margin: 8px;
}

hr {
  color: #FF7043;
}
